/**{
    box-sizing: border-box;
}*/

body{
    font-family: 'Roboto', sans-serif;
    /* padding: 2rem;*/
     /*display: flex;
     flex-wrap: wrap;*/
   /*text-align: center;*/
   
   
   
}

h1{
	padding-top: 30px;
}

p{
	max-width: 600px;
	line-height: 30px;

}

#mypic img{
	max-width: 600px;
	width: 100%;
}


