body {
  /*font-family: sans-serif;*/
   font-family: 'Roboto', sans-serif; 
  /*padding: 2rem;*/
  /*display: flex;
  flex-wrap: wrap;*/

}



.content{
    display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 50px;
 padding: 16px;
}

.navigation{
	background-color: rgb(200,200,200);
  
 }

 .navBar{
  background-color: rgb(255,255,255);
 }

/*.navigation a {
  
  font-size: 15px;
  color: #f2f2f2;
 border-style: dashed;
  text-decoration: none;
  border-width: 1px;
  padding-right: 150px;
  margin-top: -5px;
  padding-top: 10px
  text-align: center;
}

.navigation a:hover, focus {
 opacity: .7;
  text-decoration: underline;
  transition-duration: 1s;
  font-size: 18px;

}

.navigation a.active {
  background-color: #4CAF50;
  color: red;
}*/



nav a, nav a:visited {
  display: inline-flex;
  justify-content: space-around;
  /*background-color: rgb(200,200,200);*/
  color: #4b4b4b;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.4s;
  /* width: 100%; */
  display: inline-block;

 flex-wrap: wrap;
 /* border:1px solid #4b4b4b;*/
}

nav a:hover, nav a:focus {
  /*background-color: #FCF4D9;*/
  color: #4b4b4b;
  font-weight: bold;
  text-decoration: underline;

}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.09);
  background-color: rgb(255,255,255);
}

 .navlinks:active{
  text-decoration: underline;
 }

.navLinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.56em;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 769px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.navImg img{
max-width: 100px;
margin-bottom: -40px;
margin-right: -25px;
}

.navImg a:hover{
opacity: .4

}



/*.navigation ul{
	list-style: none;
  display: inline-flex;
}

.navigation ul li{
  list-style: none;
  display: inline-block;
  justify-content: space-around;
}
*/
.projectsList {
	display: flex;
	/*margin-top: 20px;*/
	/*padding-left: 100px;*/
	padding: 10px;
   flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}


.projectsList button{
	background: black;
	width: 250px;
	height: 250px;
  color: rgb(255,255,255);
  margin-top: 40px;
}

.projectsList button:hover{
	opacity: .3;
  text-decoration: none;
  transition-duration: 1s;
  font-weight: bold;
  color: black;
  background-image: url('img/gradient1.jpeg');
  
}

.projectsList a{
	color: white;
	text-decoration: none;
	padding-right: 20px;
}

.Project1{
  margin-top: 200px;
	line-height: 1.5;
   background-color: rgb(255,255,255);
}

.Project1 ul{
	margin-left: -30px;
	line-height: 2.5;
}

#button1 button:hover{
	background: url('../img/gradient1.jpeg') bottom;
}

#button1 button{
  background: url('../img/spread1.png') bottom;
  background-size: 100%;
}

#button2 button{
  background: url('../img/Build3.png') bottom;
  background-size: 100%;
}

#button2 button:hover{
  background: url('../img/Build2.png') bottom;
   background-size: 100%;
}

 


.Project1{
max-width: 1000px;
line-height: 30px;
/*padding-top:  200px;*/
}

.Project1 img{

max-width: 800px;
width: 100%;
}

.docs img{
  max-width: 600px;
  max-height: auto;
}


.Project1 h3{
text-decoration: underline;
}

.button1-nav1 button{
  margin-top: 20px;
  background-color: rgb(255,255,255);
  color: #4b4b4b;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.4s;
  display: inline-block;
justify-content: space-around;
 flex-wrap: wrap;
  border:1px solid #4b4b4b;
}

.button1-nav1 button:hover, .button1-nav1 button:active, .button1-nav1 button:focus {
  background-color: #FCF4D9;
  color: #4b4b4b;
  font-weight: bold;
  text-decoration: underline;

}

.button1-nav1 button:active{

text-decoration: underline;
}


.project2{
  max-width:500px; 
  line-height: 30px;
  background-color: white;
}

.project2 img{
 max-width: 500px;
 width: 100%;
}




.project2 h3{
text-decoration: underline;
}

.home{
  margin-top: 125px;
  text-align: center;
  line-height: 40px;
}

p {
  /*white-space: nowrap;*/
/*  overflow: hidden;*/
  /*text-overflow: ellipsis;*/
/*  max-width: 800px;*/
}

.socialIcons img{
max-width: 50px;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.socialIcons img:hover{
opacity: .6;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(255,255,255);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  margin-top:0px;
  left: 0px;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  /*border-radius: 0 0 3px 3px;*/
}


.homeContent{
 position: absolute;
 top: 0%;
 width: 100%;
}

.home{
  background-color: rgba(248, 248, 248);
  padding: 2em
  
}

.docs{
  background-color: black;
  text-align: center;
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.Project1{
   position: absolute;
 top: 0%;
 width: 100%;
}

.p1nav{
   position: absolute;
 top: 0%;
 width: 100%;
}

.skillLogo img{
max-width: 30px;
filter: grayscale(100%);
padding:5px;
}

.projectBox{
  text-align: center;
/*  border-style: dashed solid dashed solid;*/
  border-width: .1px;
  background: rgb(250,250,250);
  padding-right: 25px;
  padding-left: 25px;


 /* border-opacity: .2;*/
}



.aboutContent{
   position: absolute;
 margin-top:  850px;
 background-color: white;
}

.heading{
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.heading1{
  text-align: center;
  margin-top: 80px;
}

/*.projectBox{
  border-style: solid;

}*/

.project21{
  max-width:600px; 
  line-height: 30px;
  background-color: white;
}

.aboutStuff{
   max-width: 700px;
   line-height: 30px;
 background-color: white;
}

.abtstuff{
  background-color: white;
}