body {
  /*font-family: sans-serif;*/
   font-family: 'Roboto', sans-serif; 
  padding: 2rem;
}



.navigation{
	background-color: #333;
  overflow: hidden;
}

.navigation a {
  float: left;
  font-size: 15px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  justify-content: space-around;
  padding-right: 275px;
  margin-top: -5px;
  padding-top: 10px
}

.navigation a:hover, focus {
 opacity: .7;
  text-decoration: underline;
  transition-duration: 1s;
  font-size: 18px;
}

.navigation a.active {
  background-color: #4CAF50;
  color: red;
}

ul{
	list-style: none;
}

.projectsList {
	display: inline-block;
	margin-top: 20px;
	/*padding-left: 100px;*/
	
}


.projectsList button{
	background: black;
	padding: 50px;
	padding-right: 40px;
}

.projectsList button:hover{
	opacity: .7;
  text-decoration: underline;
  transition-duration: 1s;
  font-size: 18px;
  background-image: url('img/gradient1.jpeg');
  
}

.projectsList a{
	color: white;
	text-decoration: none;
	padding-right: 30px;
}

.Project1{
	line-height: 1.5;
}

.Project1 ul{
	margin-left: -30px;
	line-height: 2.5;
}

#button1 button:hover{
	background: url('../img/gradient1.jpeg') bottom;
}
 


.Project1{
margin-right: 500px;
line-height: 30px;
padding-top: 10px;
}

.docs img{
  max-width: 600px;
  max-height: auto;

}


.Project1 h3{
text-decoration: underline;
}

.button1-nav1 button{
  margin-top: 20px;
  background-color: rgb(255,255,255);
  color: #4b4b4b;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.4s;
  display: inline-block;
justify-content: space-around;
 flex-wrap: wrap;
  border:1px solid #4b4b4b;
}

.button1-nav1 button:hover, .button1-nav1 button:active, .button1-nav1 button:focus {
  background-color: #FCF4D9;
  color: #4b4b4b;
  font-weight: bold;
  text-decoration: underline;

}

.button1-nav1 button:active{

text-decoration: underline;
}


.project2{
  margin-right: 400px;
  line-height: 30px;
}

.project2 img{
 max-width: 500px;
}

.project2 h3{
text-decoration: underline;
}

.home{
  margin-top: 125px;
  text-align: center;
  line-height: 40px;
}



