body {
  /*font-family: sans-serif;*/
   font-family: 'Roboto', sans-serif; 
  padding: 2rem;
  /*display: flex;
  flex-wrap: wrap;*/

}



.content{
    display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 50px;
}

.navigation{
  background-color: rgb(200,200,200);
  
  
 }

/*.navigation a {
  
  font-size: 15px;
  color: #f2f2f2;
 border-style: dashed;
  text-decoration: none;
  border-width: 1px;
  padding-right: 150px;
  margin-top: -5px;
  padding-top: 10px
  text-align: center;
}

.navigation a:hover, focus {
 opacity: .7;
  text-decoration: underline;
  transition-duration: 1s;
  font-size: 18px;

}

.navigation a.active {
  background-color: #4CAF50;
  color: red;
}*/



nav a, nav a:visited {
  display: inline-flex;
  justify-content: space-around;
  /*background-color: rgb(200,200,200);*/
  color: #4b4b4b;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.4s;
  /* width: 100%; */
  display: inline-block;

 flex-wrap: wrap;
 /* border:1px solid #4b4b4b;*/
}

nav a:hover, nav a:focus {
  /*background-color: #FCF4D9;*/
  color: #4b4b4b;
  font-weight: bold;
  text-decoration: underline;

}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.09);
}

 .navlinks:active{
  text-decoration: underline;
 }

.navLinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.56em;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 769px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.navImg img{
max-width: 100px;
margin-bottom: -40px;
margin-right: -25px;
}

.navImg a:hover{
opacity: .4

}
  

}

.element {
  padding-bottom: 10rem;
  border-top-width: 0.30rem;
  border-top-style: solid;
  border-top-color: black;
}

h2 {
  margin-top: 6rem;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
  width: 50%;
}

/*nav a:hover, nav a:focus {
  text-decoration:none;

}*/

/* nav a:active {
  text-decoration:overline;

} */

ul{
  list-style: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}




/* button{



  background-color: rgb(60,120,170);
  font-family: sans-serif;
  font-family: 'Poppins', sans-serif;
 color: rgb(250,202,200);
  border:  rgb(100,50,50);
}

 */

/*
  INTERACTIVE ELEMENTS -------------------
*/


/* Styling for the navigation button */

button {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button:hover, button:focus {
  background-color: rgb(256,180,127);
}
.button1-nav1{
  background-color: rgb(255,255,255);
	color: #4b4b4b;
  text-align: center;
	padding: 1em;
	text-decoration: none;
	transition: background-color 0.4s;
  display: inline-block;
justify-content: space-around;
 flex-wrap: wrap;
  border:1px solid #4b4b4b;
}

.button1-nav1:hover, .button1-nav1:active, .button1-nav1:focus {
	background-color: #FCF4D9;
	color: #4b4b4b;
  font-weight: bold;
  text-decoration: underline;

}

.button1-nav1:active{

text-decoration: underline;
}

/* .button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
} */

/* .button-nav{
  display: inline;
  background-color: #FFB85F;
  color: #4b4b4b;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.4s;
  width: 100%;
  border:1px solid #4b4b4b;
} */



.imagecolor img{
  max-width: 200px;
  max-height: 200px;
}

.button-nav:hover, .button-nav:focus {
color: rgb(255, 180, 127);
}

a:hover {
  color: rgb(200, 200, 255);
}

a:active {
  color: rgb(205, 150, 127);
}

a:focus {
  color: rgb(205, 150, 127);
}



/* https://www.w3schools.com/css/css_pseudo_classes.asp */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_link */

.InTextLink:hover{
  /*color: rgb(100, 100, 255);*/
  color: black;
  font-weight: bold;
}

/* .InTextLink:active{
    color: rgb(205, 150, 127);
} */

.InTextLink:focus{
font-weight: bold;
}

.InTextLink{
 /* text-decoration: overline;*/
}

.images img{
  max-width: 150px;
}

.images img:hover{
  opacity: .7;
}

.images:focus{
    color: red;
}

/* https://www.w3schools.com/css/css_form.asp */

#form-subject10:hover, #form-subject11:hover,#form-subject12:hover,#form-subject13:hover,#form-subject14:hover,#form-subject15:hover,#form-subject16:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject17:hover,#form-subject19:hover,#form-subject20:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject10:focus, #form-subject11:focus,#form-subject12:focus,#form-subject13:focus,#form-subject14:focus,#form-subject15:focus,#form-subject16:focus{
  background-color: rgb(200, 200, 127);

}

#form-subject17:focus,#form-subject19:focus,#form-subject20:focus{
  background-color: rgb(200, 200, 127);

}







/* Changes the color of the nav bar item when active */
/* .topnav a.active {
    background-color: #4CAF50;
    color: white;
} */


/* body {
	font-family: 'Poppins', sans-serif;
} */

/* #form-subject12:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject13:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject14:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject15:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject16:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject17:hover{
  background-color: rgb(255, 200, 127);

}


#form-subject18:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject19:hover{
  background-color: rgb(255, 200, 127);

}

#form-subject20:hover{
  background-color: rgb(255, 200, 127);

} */


/* .NameForm1:focus{
  color: rgb(170, 170, 170);
} */


/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/
